td {
    width : 100px;
    background-color: aliceblue;
    box-sizing: border-box;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

tr {
    height : 100px;
}

.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    width : 500px;
}
.win-screen {
    display: none;
}

* {
    box-sizing: border-box;
}
